*,
body {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  background: rgb(255, 255, 255);
  color: #000000;
  border-radius: 5px;
  font-size: 21px;
}
th {
  font-size: 18px;
  padding: 5px;
}
td {
  background: #ffffff;
  padding: 5px;
  min-width: 25px;
  height: 25px;
  text-align: center;
  border: 0.5px solid rgba(0, 38, 255, 0.39);
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 38, 255, 0.15);
}

h1 {
  margin: 20px 70px;
  font-size: 40px;
}
.first-table {
  margin: 100px 0px 20px 80px;
  position: absolute;

}

.first-screen {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  width: 1000px;
  margin-top: 100px;
  height: 100%;

}

.second-table {
  margin: 100px 0px 20px 80px;
  position: absolute;
}

.second-screen {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  width: 1000px;
  margin-top: 100px;
  height: 100%;
  display: none;

}

.text {
  position: absolute;
  top: 50px;
  left: 550px;
  margin: 60px 0;
  font-size: 30px;
  word-wrap: normal;
}

.button {
  position: absolute;
  top: 30px;
  left: 60%;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid rgba(0, 38, 255, 0.39);
}

.button1 {
  position: absolute;
  top: 30px;
  left: 70%;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid rgba(0, 38, 255, 0.39);
}
.button-1 {
  position: absolute;
  top: 30px;
  left: 60%;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid rgba(0, 38, 255, 0.39);
}

.button1-1 {
  position: absolute;
  top: 30px;
  left: 70%;
  font-size: 25px;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid rgba(0, 38, 255, 0.39);
}

/* .button {
  height: 50px; 
  position: absolute;
  left: 450px;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgba(116, 243, 48, 0.4);
  border: 3px solid rgba(116, 243, 48, 0.7);
  }

.button1{
  height: 50px; 
  position: absolute;
  left: 300px;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgba(116, 243, 48, 0.4);
  border: 3px solid rgba(116, 243, 48, 0.7);
}

.button1 :hover {
  background-color: rgba(116, 243, 48, 0.2);
}
.button1 :hover {
  background-color: rgba(116, 243, 48, 0.2);
} */

